# Ignore virtual environment
venv/

# Ignore environment variable file
.env

# Ignore Python bytecode cache
__pycache__/

# Ignore local Streamlit secrets (only used in local dev)
.streamlit/secrets.toml
